$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.search-bar{
  width: 750px;
}

.option-select{
  width:10px;
}

.top-bar{
  width: 750px;
  float: left;
  padding-bottom: 10px;
}

.top-bar .populate
{
  width: 100%;
}

.summary-row{
  height: 72px;
}

.summary-table div{
  border: 1px solid #ddd;
  height: 100%;
}

/* Custom page header */
.header {
  padding-top: 10px;
  height: 60px;
  background-color: #000000;
  margin-bottom: 30px;

}

.container{

}


///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
//    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}
