<link rel="stylesheet" href="scripts/lib/chosen/chosen.css">
<script src="scripts/lib/chosen/chosen.jquery.js"></script>




<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <img src="images/logo.png" alt="DG"><br>
</div>


<div class="top-bar">

  <select chosen multiple ng-model="selection" ng-change="selectChanged()" ng-options="c.item.Name group by c.group for c in selectionGroups" style="width:600px;">
  </select><br/>


  <select class="form-control" ng-model="left" ng-options="opt for opt in options.left" ng-change="leftDropdownChanged()"></select>
  <select class="form-control" ng-model="right" ng-options="opt for opt in options.right" ng-change="rightDropdownChanged()"></select>
  <highchart id="chart1" config="chartConfig" class="span10" ></highchart>

  <div>
    <img src="images/u1793.png" alt="DG"><br>
  </div>
  <div>
    <img src="images/u1791.png" alt="DG"><br>
  </div>
  <div>
    <img src="images/u1776.png" alt="DG"><br>
  </div>
  <div>
    <img src="images/u1391.png" alt="DG"><br>
  </div>
</div>


<div class="row summary-table">
  <div class="col-md-12">Summary
    <div class="row">
      <div class="summary-row col-md-2">Served Impressions:</div>
      <div class="summary-row col-md-2">Total Clicks (Rate):</div>
      <div class="summary-row col-md-2">Total Conversions (Rate):</div>
      <div class="summary-row col-md-2">Post Impression Conversions:</div>
      <div class="summary-row col-md-2">Post Click Conversions:</div>
      <div class="summary-row col-md-2">Conversion Revenue:</div>
    </div>
  </div>
</div>


