<link rel="stylesheet" href="scripts/lib/chosen/chosen.css">
<script src="scripts/lib/chosen/chosen.jquery.js"></script>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <img src="images/logo.png" alt="DG"><br>
</div>


<div class="top-bar">

  <select chosen multiple ng-model="selection" ng-options="c.item group by c.group for c in selectionGroups" style="width:600px;">
  </select><br/>



  <!--
  <input type="text" style="width:300px" ui-select2="arrayAsync" ng-model="arrayAsyncValue"/>
  -->
  <!--<select ui-select2="placeholders" multiple ng-model="placeholdersMultiValue" class="populate">
    <option ng-repeat="select in selection" value="{{select.text}}">{{select.text}}</option>
  </select>-->
  <!--
  <select ui-select2 ng-model="select2" data-placeholder="Pick a number">
    <option value=""></option>
    <option ng-repeat="camp in campaigns" value="{{camp.Name}}">{{camp.Name}}</option>
  </select>
-->
  <div>
    <img src="images/u1793.png" alt="DG"><br>
  </div>
  <div>
    <img src="images/u1791.png" alt="DG"><br>
  </div>
  <div>
    <img src="images/u1776.png" alt="DG"><br>
  </div>
  <div>
    <img src="images/u1391.png" alt="DG"><br>
  </div>
</div>


<div class="row summary-table">
  <div class="col-md-12">Summary
    <div class="row">
      <div class="summary-row col-md-2">Served Impressions:</div>
      <div class="summary-row col-md-2">Total Clicks (Rate):</div>
      <div class="summary-row col-md-2">Total Conversions (Rate):</div>
      <div class="summary-row col-md-2">Post Impression Conversions:</div>
      <div class="summary-row col-md-2">Post Click Conversions:</div>
      <div class="summary-row col-md-2">Conversion Revenue:</div>
    </div>
  </div>
</div>




<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
-->